@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #003366; /* Azul escuro para textos */
}

/* Navbar */
.navbar {
  background-color: #007bff; /* Azul Bootstrap */
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: top 0.3s;
}

#navbar-top {
  transition: top 0.3s ease-in-out;
}

.navbar-hidden {
  top: -80px; /* Ajuste a altura para a sua navbar desaparecer por completo */
  position: fixed;
  width: 100%;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
  font-size: 1.1rem;
  position: relative;
}

#navbar-top {
  transition: top 0.3s;
}

/* Sublinhado animado nos links da navbar */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* Botões login/registrar */
.login-box button {
  background-color: #ffffff;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.login-box button:hover {
  background-color: #007bff;
  color: #ffffff;
}

/* Sections */

.home {
    height: 700px;
    background-image: url(/assets/img/home/cachorrobanho.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 20px; /* espaço interno */
    color: white;
    text-align: center;
    position: relative;
    
}

.home h1{
    font-family: 'Delius';
    font-style: italic;
    text-align: justify;
    font-weight: bold;
}

.h1-sub{
  font-family: 'Delius';
  text-align: justify;
  font-weight: bold;
}

.desc {
  text-align: justify;
  font-size: 130%;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.bt-cont{
  background-color: #ffffff;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
  
}

.bt-cont:hover{
  background-color: #007bff;
  color: #ffffff;
}